<h2 mat-dialog-title style="margin-bottom:12px;">DarkMode Settings</h2>
<mat-dialog-content class="mat-typography">

  <p style="text-align: left; padding-top:8px; margin-left: 20px;">
   <mat-slide-toggle [(ngModel)]="params.darkmode" (change)="toggleDarkMode($event)" [disabled]="isIE">
     <span *ngIf="!isIE">Dark Mode is: {{ params.darkmode ? "ON" : "OFF" }}</span>
     <span style="color: red;" *ngIf="isIE">Sorry, this browser does not support dark mode. Try a newer browser!</span>
   </mat-slide-toggle>
  </p>


  <table *ngIf="params.darkmode">
      <tr>
         <td>Brightness</td>
         <td>
            {{ params.brightness }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" tickInterval="1" min="0" max="150" step="1"
               [(ngModel)]="params.brightness" (input)="onBrightnessChange($event)">
            </mat-slider>
         </td>
      </tr>
      <tr>
         <td>Contrast</td>
         <td>
            {{ params.contrast }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" tickInterval="1" min="0" max="150" step="1"
               [(ngModel)]="params.contrast" (input)="onContrastChange($event)"></mat-slider>
         </td>
      </tr>
      <tr>
         <td>Sepia</td>
         <td>
            {{ params.sepia }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" tickInterval="1" min="0" max="100" step="1"
            [(ngModel)]="params.sepia" (input)="onSepiaChange($event)"></mat-slider>
         </td>
      </tr>
      <tr>
         <td>Grayscale</td>
         <td>
            {{ params.grayscale }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" tickInterval="1" min="0" max="100" step="1"
               [(ngModel)]="params.grayscale" (input)="onGrayScaleChange($event)"></mat-slider>
         </td>
      </tr>
   </table>
</mat-dialog-content>
<mat-dialog-actions align="center">
   <button mat-flat-button (click)="cancel()" color="default">Cancel</button>
   <button mat-flat-button (click)="save()" cdkFocusInitial color="primary" [disabled]="isIE">{{ saveResp ? saveResp : "Save" }}</button>
</mat-dialog-actions>
