<h2 mat-dialog-title style="margin-bottom:12px;">DarkMode Settings</h2>
<mat-dialog-content class="mat-typography">

  <p *ngIf="!isIE" style="text-align: center; padding-top:8px;">
    <label style="margin-right: 6px; vertical-align: text-bottom;">Dark Mode:</label>
    <mat-slide-toggle [(ngModel)]="params.darkmode" (change)="toggleDarkMode($event)">
     <span>{{ params.darkmode ? "ON" : "OFF" }}</span>
    </mat-slide-toggle>
  </p>

  <p *ngIf="isIE" style="text-align: center; padding:8px;">
    <span style="color: red;">
      Uh Oh, this browser does not support
      dark mode. Try a newer browser!
    </span>
  </p>

  <div style="overflow: hidden;" [@slideInOut]="animationState">
  <table>
      <tr>
         <td>Brightness</td>
         <td>{{ params.brightness }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" max="150"
               [(ngModel)]="params.brightness" (change)="onBrightnessChange($event)">
            </mat-slider>
         </td>
      </tr>
      <tr>
         <td>Contrast</td>
         <td>{{ params.contrast }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" max="150"
               [(ngModel)]="params.contrast" (change)="onContrastChange($event)"></mat-slider>
         </td>
      </tr>
      <tr>
         <td>Sepia</td>
         <td>{{ params.sepia }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" max="100"
            [(ngModel)]="params.sepia" (change)="onSepiaChange($event)"></mat-slider>
         </td>
      </tr>
      <tr>
         <td>Grayscale</td>
         <td>{{ params.grayscale }}%
            <mat-slider thumbLabel [displayWith]="darkModeService.formatLabel" max="100"
               [(ngModel)]="params.grayscale" (change)="onGrayScaleChange($event)"></mat-slider>
         </td>
      </tr>
   </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
   <button mat-flat-button (click)="cancel()" color="default">Cancel</button>
   <button mat-flat-button (click)="save()" cdkFocusInitial color="primary" *ngIf="!isIE">{{ saveResp ? saveResp : "Save" }}</button>
</mat-dialog-actions>
